/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --white-bg-background: #FFFFFF;
}

body {
    display: flex;
    justify-content: center;
    border: 0px;
    margin: 0px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
    margin-left: 20px;
    margin-right: 20px;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: var(--white-bg-background);
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

.title-text {
    padding-bottom: 30px;
}

main {
    margin-left: 30px;
    margin-right: 30px;
}

/****** Header ***********/
.header-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-right: 20px;
    margin-left: 10px;
}

.logo img {
    width: 80px;
    position: absolute;
}

.menu-nav {
    display: flex;
    flex-direction: row; 
}

.menu-nav a{
    text-decoration: none;
    color: black;  
}

.menu-nav a:hover {
    color: var(--main-color);
    border-top: solid 2px var(--main-color);
    padding-top: 18px;
}

.navigation-link {
    margin-right: 50px;
}

/****** barre de recherche ***********/
.search {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    border: 1px solid var(--main-bg-color);
    border-radius: 15px;
    width: 377px;
    height: 49px;
}

.location-dot-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: var(--main-bg-color);
    border: 1px solid var(--main-bg-color);
    border-radius: 15px 0px 0px 15px;
}

#ville {
    width: 147px;
    height: 21px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: black;
    border: none;
    outline: none;
    width: 195px;
}

#ville::placeholder {
    color: black;
    
}

.search-button {
    background-color: var(--main-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 16px;
    width: 132px;
    height: 49px;
    border: 1px solid var(--main-color);
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
}

.button {
    background-color: var(--main-color);
    color: #FFFFFF;
    border: none;
    text-align: center;
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    cursor: pointer;
}

.button-mobile {
    display: none;
}

/****** filtres ***********/
.filtres {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-bottom: 38px;
}

.filtre-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.button-filtre {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 5px 20px;
    gap: 10px;
    height: 50px;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    background-color: var(--white-bg-background);
    cursor: pointer;
}

.button-economique :hover, .button-familial :hover, .button-romantique :hover, .button-pepites :hover{
    background-color: #var(--filter-bg-color);
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 37px;
}

 .icon-info { 
    border: 1px solid #D9D9D9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
 }


/****** "Hebergements" And "Populaires" And "Activities" ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.card {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    background-color: var(--main-bg-color);
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.hebergements-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px; 
}

.hebergements-cards .card {
    width: 250px;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    padding-left: 10px;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.afficher-plus-link {
    padding-top: 30px;
}

.afficher-plus-link a {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-decoration: none;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** "Activités" ***********/
.activites {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 65px 30px 65px 30px;
}
.activites-cards {
    display: flex;
    gap: 30px;
}

.activites-cards .card {
    width: 30%;
    height: 440px;
    padding: 0;
}

.activites-cards .card-title {
    padding: 20px;
    margin-top: 0;
}

.activites-cards .card img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;   
}

/****** Footer ***********/
footer {
    margin-left: -20px;
    margin-right: -20px;
}

.footer-box {
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    padding-right: 50px;
}

.footer-section {
    width: 33%;
    display: flex;
    flex-direction: column;
}

.footer-title {
    margin-bottom: 15px;
}

.footer-section ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
}

.footer-section li {
    padding-bottom: 15px;
}

.footer-section a {
    text-decoration: none;
    color: #000000;
    padding-top: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Large desktop (desktops, sup/equal than 1440px) */
@media (min-width: 1441px) {
    .header-box {
        margin-left: 30px;
    }
}

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    /*** "header ***/
    .header-box {
        margin-left: 30px;
    }

    .page-title {
        margin-bottom: 8px;
        margin-top: 10px;
    }

    .title-text p {
        margin-top: 0;
    }

    .title-text {
        padding-bottom: 35px;
    }

    .titre-and-recherche form.search {
        margin-bottom: 35px
    }

    /*** "filtres" ***/
    .filtres {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
        margin: 0;
    }

    .filtres h2 {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .button-filtre {
        font-size: 16px;
    }

    .info {
        margin: 20px 0;
    }

    /*** "hebergement" and "populaires" ***/
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }

    .populaires-cards .card {
        width: 275px;
        height: 146px;
        margin-top: 20px;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    /*** "Activites" ***/
    .activites-cards .card {
        height: 270px;
    }

    .activites-cards .card img {
        height: 200px;
    }

    .activites-cards .card-content {
        display: flex;
        align-items: center;
        height: 75px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container {
        width: 100%;
        padding: 0 0px;
        box-sizing: border-box;
        margin: 0;
    }

   main {
        margin: 0;
   }

   .titre-and-recherche {
        margin: 0;
   }
   
    /*** header ***/
    .header-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 0px 30px 0px; 
        padding-bottom: 0; 
    }
    
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px;
    }

    .page-title {
        font-size: 22px;
    }

    /*** navigation bar ***/    
    nav {
        width: 100%;
    }

    .menu-nav {
        width: 100%;
        justify-content: space-around;
    }

    .logo img {
        width: 80px;
    }
    
    .menu-nav a:hover {
        color: var(--main-color);
        border-bottom: 2px solid var(--main-color);
        border-top: none;
        padding: 15px;
    }

    .menu-nav a {
        text-align: center;
        width: 100%;
        padding: 15px;
        border-bottom: 2px solid var(--main-bg-color);
        border-top: none;
    }

    .navigation-link {
        box-sizing: content-box;
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
        margin: 0;
    }

    /*** barre de recherche ***/
    section.titre-and-recherche {
        margin: 0 20px;
    }

    .page-title {
        margin-bottom: 8px;
    }

    .title-text {
        padding-bottom: 35px;
    }

    .description {
        margin: 0;
    }

    .search {
        width: 100%;
        margin-bottom: 0;
        justify-content: space-between;
    }

    .button {
        display: none;
    }

    .button-mobile {
        display: contents;
    }

    .search-button {
        width: 49px;
        height: 49px;
        border-radius: 15px; 
    }

    #ville {
        width: 100%;
    }

    .location-dot-icon {
        min-width: 50px;
    }

    /*** filtres ***/
    .filtres {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 35px;
        margin-bottom: 20px;
    }

    .filtres >h2 {
        margin-top: 0;
        margin-bottom: 5px;
    }

    .filtre-button {
        display: flex;
        flex-wrap: wrap;
        font-size: 14px;
    }

    .button-filtre {
        font-size: 14px;
        width: 150px;
    }

    .icon-info {
        width: 31px;
        height: 23px;
    }

    .info {
        margin-bottom: 35px;
    }

    .info p {
        margin-bottom: 0;
    }

    /*** "hebergement" and "populaires" ***/
    .populaires {
        margin-top: 0px;
        border-radius: 0px;
    }

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
        border-radius: 0px;
        padding: 30px 20px ;
    }

    .populaires-cards {
        flex-direction: column;
    }
    
    .populaires-cards .card {
        width: 100%;
        margin-top: 15px;
    }

    .hebergements {
        background-color: var(--white-bg-background);
        margin-top: 5px;
    }

    .hebergements-cards {
        gap: 15px;
    }

    .hebergements-cards .card {
        width: 100%;
    }

    .hebergements-cards .card-content {
        margin-bottom: 15px;
    }

    .hebergements-cards .card-subtitle {
        margin: 8px 0;
    }

    /*** "Activites" ***/
    .activites {
        margin-top: 55px;
    }
    
    .activites-cards {
        flex-direction: column;
        gap: 15px;
    }

    .activites-cards .card {
        width: 315px;
        height: 200px;
    }

    .activites-cards .card img {
        height: 141px;
    }

    .activites-cards .card-content {
        padding: 6px 10px;
    }

    /*** footer ***/
    .footer-box {
        flex-direction: column;
    }

    .footer-section {
        width: 100%;
    }
}